In [48]:
dfSF = read.csv('F:/GitHub Repos/datasci_course_materials/assignment6/sanfrancisco_incidents_summer_2014.csv',head=TRUE,sep=",")

In [3]:
summary(df)

   IncidntNum                  Category                            Descript
 Min.   : 10284385   LARCENY/THEFT :9466   GRAND THEFT FROM LOCKED AUTO: 3766
 1st Qu.:140545607   OTHER OFFENSES:3567   STOLEN AUTOMOBILE           : 1350
 Median :140632022   NON-CRIMINAL  :3023   LOST PROPERTY               : 1202
 Mean   :142017280   ASSAULT       :2882   PETTY THEFT OF PROPERTY     : 1125
 3rd Qu.:140719664   VEHICLE THEFT :1966   WARRANT ARREST              :  980
 Max.   :990367398   WARRANTS      :1782   PETTY THEFT FROM LOCKED AUTO:  955
                     (Other)       :6307   (Other)                     :19615
     DayOfWeek            Date            Time           PdDistrict
 Friday   :4451   06/28/2014:  410   12:00  :  784   SOUTHERN :5739
 Monday   :4005   08/09/2014:  410   00:01  :  661   MISSION  :3700
 Saturday :4319   08/08/2014:  403   18:00  :  649   NORTHERN :3589
 Sunday   :4218   06/29/2014:  397   19:00  :  621   CENTRAL  :3513
 Thursday :3968   08/29/2014:  388   17:00  :  594   BAYVIEW  :2725
 Tuesday  :3930   06/04/2014:  380   20:00  :  586   INGLESIDE:2378
 Wednesday:4102   (Other)   :26605   (Other):25098   (Other)  :7349
           Resolution                        Address            X
 NONE           :19139   800 Block of BRYANT ST  :  948   Min.   :-122.5
 ARREST, BOOKED : 6502   800 Block of MARKET ST  :  288   1st Qu.:-122.4
 ARREST, CITED  : 1419   900 Block of POTRERO AV :  230   Median :-122.4
 LOCATED        : 1042   1000 Block of POTRERO AV:  199   Mean   :-122.4
 UNFOUNDED      :  260   2000 Block of MISSION ST:  149   3rd Qu.:-122.4
 JUVENILE BOOKED:  163   16TH ST / MISSION ST    :  116   Max.   :-122.4
 (Other)        :  468   (Other)                 :27063
       Y                                          Location
 Min.   :37.71   (37.775420706711, -122.403404791479) :  940
 1st Qu.:37.76   (37.7571580431915, -122.406604919508):  224
 Median :37.78   (37.7564864109309, -122.406539115148):  196
 Mean   :37.77   (37.7650501214668, -122.419671780296):  152
 3rd Qu.:37.79   (37.7841893501425, -122.407633520742):  150
 Max.   :37.82   (37.7285280627465, -122.475647460786):  102
                 (Other)                              :27229
      PdId
 Min.   :1.028e+12
 1st Qu.:1.405e+13
 Median :1.406e+13
 Mean   :1.420e+13
 3rd Qu.:1.407e+13
 Max.   :9.904e+13

In [4]:
library(ggplot2)

ERROR: Error in library(ggplot2): there is no package called 'ggplot2'

In [6]:
install.packages('ggplot2', repos='http://cran.us.r-project.org')

also installing the dependencies 'colorspace', 'Rcpp', 'RColorBrewer', 'dichromat', 'munsell', 'labeling', 'gtable', 'plyr', 'reshape2', 'scales'

package 'colorspace' successfully unpacked and MD5 sums checked
package 'Rcpp' successfully unpacked and MD5 sums checked
package 'RColorBrewer' successfully unpacked and MD5 sums checked
package 'dichromat' successfully unpacked and MD5 sums checked
package 'munsell' successfully unpacked and MD5 sums checked
package 'labeling' successfully unpacked and MD5 sums checked
package 'gtable' successfully unpacked and MD5 sums checked
package 'plyr' successfully unpacked and MD5 sums checked
package 'reshape2' successfully unpacked and MD5 sums checked
package 'scales' successfully unpacked and MD5 sums checked
package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Sagnik\AppData\Local\Temp\RtmpG0xQSW\downloaded_packages

In [7]:
library(ggplot2)

Warning message:
: package 'ggplot2' was built under R version 3.2.5

In [10]:
dfSF = df
dfSea = read.csv('F:/GitHub Repos/datasci_course_materials/assignment6/seattle_incidents_summer_2014.csv',head=TRUE,sep=",")

In [11]:
summary(dfSea)

   RMS.CDW.ID      General.Offense.Number  Offense.Code
 Min.   :  12470   Min.   :2.015e+07      2305   : 6230
 1st Qu.:  47246   1st Qu.:2.014e+09      X      : 3305
 Median : 999859   Median :2.014e+09      2399   : 3034
 Mean   : 578650   Mean   :2.020e+09      2404   : 2871
 3rd Qu.:1030117   3rd Qu.:2.014e+09      2903   : 1638
 Max.   :1125252   Max.   :2.014e+11      1313   : 1368
                                          (Other):14333
 Offense.Code.Extension                         Offense.Type
 Min.   : 0.0           THEFT-CARPROWL                : 6230
 1st Qu.: 0.0           VEH-THEFT-AUTO                : 2588
 Median : 0.0           THEFT-OTH                     : 2221
 Mean   : 4.2           PROPERTY DAMAGE-NON RESIDENTIA: 1638
 3rd Qu.: 1.0           ASSLT-NONAGG                  : 1320
 Max.   :98.0           DISTURBANCE-OTH               : 1295
                        (Other)                       :17487
 Summary.Offense.Code Summarized.Offense.Description
 2300   :12161        CAR PROWL      : 6230
 X      : 3305        OTHER PROPERTY : 3755
 2200   : 3212        BURGLARY       : 3212
 2400   : 2871        VEHICLE THEFT  : 3057
 1300   : 2639        PROPERTY DAMAGE: 2365
 2900   : 2365        ASSAULT        : 2018
 (Other): 6226        (Other)        :12142
                Date.Reported        Occurred.Date.or.Date.Range.Start
 08/04/2014 07:00:00 PM:   11   07/01/2014 12:00:00 AM:   46
 07/10/2014 01:16:00 PM:    9   08/01/2014 12:00:00 PM:   33
 06/25/2014 05:26:00 PM:    8   07/25/2014 08:00:00 PM:   24
 07/07/2014 08:00:00 PM:    8   08/01/2014 12:00:00 AM:   23
 07/24/2014 11:05:00 AM:    8   06/01/2014 12:00:00 AM:   22
 06/19/2014 02:52:00 PM:    7   08/02/2014 12:00:00 PM:   22
 (Other)               :32728   (Other)               :32609
           Occurred.Date.Range.End                  Hundred.Block.Location
                       :16280      4XX BLOCK OF NE NORTHGATE WY:  194
 07/07/2014 07:00:00 AM:   21      16XX BLOCK OF 11 AV         :  138
 06/05/2014 08:00:00 AM:   18      5XX BLOCK OF 3 AV           :  129
 07/14/2014 08:00:00 AM:   17      4XX BLOCK OF PINE ST        :  119
 07/19/2014 09:00:00 AM:   17      84XX BLOCK OF SEAVIEW PL NW :  117
 06/30/2014 08:00:00 AM:   16      1XX BLOCK OF S WASHINGTON ST:  110
 (Other)               :16410      (Other)                     :31972
 District.Sector   Zone.Beat     Census.Tract.2000   Longitude
 M      : 2642   E2     : 1089   Min.   :  100.1   Min.   :-122.4
 K      : 2379   M3     :  968   1st Qu.: 4600.1   1st Qu.:-122.3
 B      : 2338   B2     :  845   Median : 7500.4   Median :-122.3
 N      : 2333   K2     :  841   Mean   : 6737.7   Mean   :-114.7
 E      : 2255   M1     :  837   3rd Qu.: 9200.2   3rd Qu.:-122.3
 J      : 2204   M2     :  837   Max.   :26500.1   Max.   :   0.0
 (Other):18628   (Other):27362   NA's   :134
    Latitude                               Location         Month
 Min.   : 0.00   (0.0, 0.0)                    : 2050   Min.   :6.000
 1st Qu.:47.58   (47.7086028, -122.324615155)  :  120   1st Qu.:6.000
 Median :47.61   (47.708602801, -122.324615156):   87   Median :7.000
 Mean   :44.65   (47.717174472, -122.344896099):   85   Mean   :6.981
 3rd Qu.:47.66   (47.615838397, -122.318168851):   77   3rd Qu.:8.000
 Max.   :47.75   (47.602412415, -122.331082197):   67   Max.   :8.000
                 (Other)                       :30293
      Year
 Min.   :2014
 1st Qu.:2014
 Median :2014
 Mean   :2014
 3rd Qu.:2014
 Max.   :2014

In [18]:
dfSF$Month <- as.Date(cut(dfSF$Date,breaks="month"))
dfSF$Year <- as.Date(cut(dfSF$Date,breaks="year"))

Warning message:
In min.default(structure(c(NA_real_, NA_real_, NA_real_, NA_real_, : no non-missing arguments to min; returning InfWarning message:
In max.default(structure(c(NA_real_, NA_real_, NA_real_, NA_real_, : no non-missing arguments to max; returning -Inf

ERROR: Error in seq.int(r1$mon, 12 * (to0$year - r1$year) + to0$mon, by): 'from' cannot be NA, NaN or infinite

Warning message:
In min.default(structure(c(NA_real_, NA_real_, NA_real_, NA_real_, : no non-missing arguments to min; returning InfWarning message:
In max.default(structure(c(NA_real_, NA_real_, NA_real_, NA_real_, : no non-missing arguments to max; returning -Inf

ERROR: Error in seq.int(r1$year, to$year, by): 'from' cannot be NA, NaN or infinite

In [17]:
dfSF$Date <- ymd_hms(dfSF$Date)

Warning message:
: All formats failed to parse. No formats found.

In [16]:
library(lubridate)

Warning message:
: package 'lubridate' was built under R version 3.2.5
Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

In [21]:
summary(dfSF)

   IncidntNum                  Category                            Descript
 Min.   : 10284385   LARCENY/THEFT :9466   GRAND THEFT FROM LOCKED AUTO: 3766
 1st Qu.:140545607   OTHER OFFENSES:3567   STOLEN AUTOMOBILE           : 1350
 Median :140632022   NON-CRIMINAL  :3023   LOST PROPERTY               : 1202
 Mean   :142017280   ASSAULT       :2882   PETTY THEFT OF PROPERTY     : 1125
 3rd Qu.:140719664   VEHICLE THEFT :1966   WARRANT ARREST              :  980
 Max.   :990367398   WARRANTS      :1782   PETTY THEFT FROM LOCKED AUTO:  955
                     (Other)       :6307   (Other)                     :19615
     DayOfWeek            Date            Time           PdDistrict
 Friday   :4451   06/28/2014:  410   12:00  :  784   SOUTHERN :5739
 Monday   :4005   08/09/2014:  410   00:01  :  661   MISSION  :3700
 Saturday :4319   08/08/2014:  403   18:00  :  649   NORTHERN :3589
 Sunday   :4218   06/29/2014:  397   19:00  :  621   CENTRAL  :3513
 Thursday :3968   08/29/2014:  388   17:00  :  594   BAYVIEW  :2725
 Tuesday  :3930   06/04/2014:  380   20:00  :  586   INGLESIDE:2378
 Wednesday:4102   (Other)   :26605   (Other):25098   (Other)  :7349
           Resolution                        Address            X
 NONE           :19139   800 Block of BRYANT ST  :  948   Min.   :-122.5
 ARREST, BOOKED : 6502   800 Block of MARKET ST  :  288   1st Qu.:-122.4
 ARREST, CITED  : 1419   900 Block of POTRERO AV :  230   Median :-122.4
 LOCATED        : 1042   1000 Block of POTRERO AV:  199   Mean   :-122.4
 UNFOUNDED      :  260   2000 Block of MISSION ST:  149   3rd Qu.:-122.4
 JUVENILE BOOKED:  163   16TH ST / MISSION ST    :  116   Max.   :-122.4
 (Other)        :  468   (Other)                 :27063
       Y                                          Location
 Min.   :37.71   (37.775420706711, -122.403404791479) :  940
 1st Qu.:37.76   (37.7571580431915, -122.406604919508):  224
 Median :37.78   (37.7564864109309, -122.406539115148):  196
 Mean   :37.77   (37.7650501214668, -122.419671780296):  152
 3rd Qu.:37.79   (37.7841893501425, -122.407633520742):  150
 Max.   :37.82   (37.7285280627465, -122.475647460786):  102
                 (Other)                              :27229
      PdId
 Min.   :1.028e+12
 1st Qu.:1.405e+13
 Median :1.406e+13
 Mean   :1.420e+13
 3rd Qu.:1.407e+13
 Max.   :9.904e+13

In [49]:
dfSF$Month<-month(as.POSIXlt(dfSF$Date, format="%d/%m/%Y"))
dfSF$Year<-year(as.POSIXlt(dfSF$Date, format="%d/%m/%Y"))

In [50]:
summary(dfSF)

   IncidntNum                  Category                            Descript
 Min.   : 10284385   LARCENY/THEFT :9466   GRAND THEFT FROM LOCKED AUTO: 3766
 1st Qu.:140545607   OTHER OFFENSES:3567   STOLEN AUTOMOBILE           : 1350
 Median :140632022   NON-CRIMINAL  :3023   LOST PROPERTY               : 1202
 Mean   :142017280   ASSAULT       :2882   PETTY THEFT OF PROPERTY     : 1125
 3rd Qu.:140719664   VEHICLE THEFT :1966   WARRANT ARREST              :  980
 Max.   :990367398   WARRANTS      :1782   PETTY THEFT FROM LOCKED AUTO:  955
                     (Other)       :6307   (Other)                     :19615
     DayOfWeek            Date            Time           PdDistrict
 Friday   :4451   06/28/2014:  410   12:00  :  784   SOUTHERN :5739
 Monday   :4005   08/09/2014:  410   00:01  :  661   MISSION  :3700
 Saturday :4319   08/08/2014:  403   18:00  :  649   NORTHERN :3589
 Sunday   :4218   06/29/2014:  397   19:00  :  621   CENTRAL  :3513
 Thursday :3968   08/29/2014:  388   17:00  :  594   BAYVIEW  :2725
 Tuesday  :3930   06/04/2014:  380   20:00  :  586   INGLESIDE:2378
 Wednesday:4102   (Other)   :26605   (Other):25098   (Other)  :7349
           Resolution                        Address            X
 NONE           :19139   800 Block of BRYANT ST  :  948   Min.   :-122.5
 ARREST, BOOKED : 6502   800 Block of MARKET ST  :  288   1st Qu.:-122.4
 ARREST, CITED  : 1419   900 Block of POTRERO AV :  230   Median :-122.4
 LOCATED        : 1042   1000 Block of POTRERO AV:  199   Mean   :-122.4
 UNFOUNDED      :  260   2000 Block of MISSION ST:  149   3rd Qu.:-122.4
 JUVENILE BOOKED:  163   16TH ST / MISSION ST    :  116   Max.   :-122.4
 (Other)        :  468   (Other)                 :27063
       Y                                          Location
 Min.   :37.71   (37.775420706711, -122.403404791479) :  940
 1st Qu.:37.76   (37.7571580431915, -122.406604919508):  224
 Median :37.78   (37.7564864109309, -122.406539115148):  196
 Mean   :37.77   (37.7650501214668, -122.419671780296):  152
 3rd Qu.:37.79   (37.7841893501425, -122.407633520742):  150
 Max.   :37.82   (37.7285280627465, -122.475647460786):  102
                 (Other)                              :27229
      PdId               Month             Year
 Min.   :1.028e+12   Min.   : 1.000   Min.   :2014
 1st Qu.:1.405e+13   1st Qu.: 4.000   1st Qu.:2014
 Median :1.406e+13   Median : 7.000   Median :2014
 Mean   :1.420e+13   Mean   : 6.489   Mean   :2014
 3rd Qu.:1.407e+13   3rd Qu.: 9.000   3rd Qu.:2014
 Max.   :9.904e+13   Max.   :12.000   Max.   :2014
                     NA's   :17764    NA's   :17764

In [51]:
summary(dfSea)
summary(dfSF)

   RMS.CDW.ID      General.Offense.Number  Offense.Code
 Min.   :  12470   Min.   :2.015e+07      2305   : 6230
 1st Qu.:  47246   1st Qu.:2.014e+09      X      : 3305
 Median : 999859   Median :2.014e+09      2399   : 3034
 Mean   : 578650   Mean   :2.020e+09      2404   : 2871
 3rd Qu.:1030117   3rd Qu.:2.014e+09      2903   : 1638
 Max.   :1125252   Max.   :2.014e+11      1313   : 1368
                                          (Other):14333
 Offense.Code.Extension                         Offense.Type
 Min.   : 0.0           THEFT-CARPROWL                : 6230
 1st Qu.: 0.0           VEH-THEFT-AUTO                : 2588
 Median : 0.0           THEFT-OTH                     : 2221
 Mean   : 4.2           PROPERTY DAMAGE-NON RESIDENTIA: 1638
 3rd Qu.: 1.0           ASSLT-NONAGG                  : 1320
 Max.   :98.0           DISTURBANCE-OTH               : 1295
                        (Other)                       :17487
 Summary.Offense.Code Summarized.Offense.Description
 2300   :12161        CAR PROWL      : 6230
 X      : 3305        OTHER PROPERTY : 3755
 2200   : 3212        BURGLARY       : 3212
 2400   : 2871        VEHICLE THEFT  : 3057
 1300   : 2639        PROPERTY DAMAGE: 2365
 2900   : 2365        ASSAULT        : 2018
 (Other): 6226        (Other)        :12142
                Date.Reported        Occurred.Date.or.Date.Range.Start
 08/04/2014 07:00:00 PM:   11   07/01/2014 12:00:00 AM:   46
 07/10/2014 01:16:00 PM:    9   08/01/2014 12:00:00 PM:   33
 06/25/2014 05:26:00 PM:    8   07/25/2014 08:00:00 PM:   24
 07/07/2014 08:00:00 PM:    8   08/01/2014 12:00:00 AM:   23
 07/24/2014 11:05:00 AM:    8   06/01/2014 12:00:00 AM:   22
 06/19/2014 02:52:00 PM:    7   08/02/2014 12:00:00 PM:   22
 (Other)               :32728   (Other)               :32609
           Occurred.Date.Range.End                  Hundred.Block.Location
                       :16280      4XX BLOCK OF NE NORTHGATE WY:  194
 07/07/2014 07:00:00 AM:   21      16XX BLOCK OF 11 AV         :  138
 06/05/2014 08:00:00 AM:   18      5XX BLOCK OF 3 AV           :  129
 07/14/2014 08:00:00 AM:   17      4XX BLOCK OF PINE ST        :  119
 07/19/2014 09:00:00 AM:   17      84XX BLOCK OF SEAVIEW PL NW :  117
 06/30/2014 08:00:00 AM:   16      1XX BLOCK OF S WASHINGTON ST:  110
 (Other)               :16410      (Other)                     :31972
 District.Sector   Zone.Beat     Census.Tract.2000   Longitude
 M      : 2642   E2     : 1089   Min.   :  100.1   Min.   :-122.4
 K      : 2379   M3     :  968   1st Qu.: 4600.1   1st Qu.:-122.3
 B      : 2338   B2     :  845   Median : 7500.4   Median :-122.3
 N      : 2333   K2     :  841   Mean   : 6737.7   Mean   :-114.7
 E      : 2255   M1     :  837   3rd Qu.: 9200.2   3rd Qu.:-122.3
 J      : 2204   M2     :  837   Max.   :26500.1   Max.   :   0.0
 (Other):18628   (Other):27362   NA's   :134
    Latitude                               Location         Month
 Min.   : 0.00   (0.0, 0.0)                    : 2050   Min.   :6.000
 1st Qu.:47.58   (47.7086028, -122.324615155)  :  120   1st Qu.:6.000
 Median :47.61   (47.708602801, -122.324615156):   87   Median :7.000
 Mean   :44.65   (47.717174472, -122.344896099):   85   Mean   :6.981
 3rd Qu.:47.66   (47.615838397, -122.318168851):   77   3rd Qu.:8.000
 Max.   :47.75   (47.602412415, -122.331082197):   67   Max.   :8.000
                 (Other)                       :30293
      Year
 Min.   :2014
 1st Qu.:2014
 Median :2014
 Mean   :2014
 3rd Qu.:2014
 Max.   :2014

   IncidntNum                  Category                            Descript
 Min.   : 10284385   LARCENY/THEFT :9466   GRAND THEFT FROM LOCKED AUTO: 3766
 1st Qu.:140545607   OTHER OFFENSES:3567   STOLEN AUTOMOBILE           : 1350
 Median :140632022   NON-CRIMINAL  :3023   LOST PROPERTY               : 1202
 Mean   :142017280   ASSAULT       :2882   PETTY THEFT OF PROPERTY     : 1125
 3rd Qu.:140719664   VEHICLE THEFT :1966   WARRANT ARREST              :  980
 Max.   :990367398   WARRANTS      :1782   PETTY THEFT FROM LOCKED AUTO:  955
                     (Other)       :6307   (Other)                     :19615
     DayOfWeek            Date            Time           PdDistrict
 Friday   :4451   06/28/2014:  410   12:00  :  784   SOUTHERN :5739
 Monday   :4005   08/09/2014:  410   00:01  :  661   MISSION  :3700
 Saturday :4319   08/08/2014:  403   18:00  :  649   NORTHERN :3589
 Sunday   :4218   06/29/2014:  397   19:00  :  621   CENTRAL  :3513
 Thursday :3968   08/29/2014:  388   17:00  :  594   BAYVIEW  :2725
 Tuesday  :3930   06/04/2014:  380   20:00  :  586   INGLESIDE:2378
 Wednesday:4102   (Other)   :26605   (Other):25098   (Other)  :7349
           Resolution                        Address            X
 NONE           :19139   800 Block of BRYANT ST  :  948   Min.   :-122.5
 ARREST, BOOKED : 6502   800 Block of MARKET ST  :  288   1st Qu.:-122.4
 ARREST, CITED  : 1419   900 Block of POTRERO AV :  230   Median :-122.4
 LOCATED        : 1042   1000 Block of POTRERO AV:  199   Mean   :-122.4
 UNFOUNDED      :  260   2000 Block of MISSION ST:  149   3rd Qu.:-122.4
 JUVENILE BOOKED:  163   16TH ST / MISSION ST    :  116   Max.   :-122.4
 (Other)        :  468   (Other)                 :27063
       Y                                          Location
 Min.   :37.71   (37.775420706711, -122.403404791479) :  940
 1st Qu.:37.76   (37.7571580431915, -122.406604919508):  224
 Median :37.78   (37.7564864109309, -122.406539115148):  196
 Mean   :37.77   (37.7650501214668, -122.419671780296):  152
 3rd Qu.:37.79   (37.7841893501425, -122.407633520742):  150
 Max.   :37.82   (37.7285280627465, -122.475647460786):  102
                 (Other)                              :27229
      PdId               Month             Year
 Min.   :1.028e+12   Min.   : 1.000   Min.   :2014
 1st Qu.:1.405e+13   1st Qu.: 4.000   1st Qu.:2014
 Median :1.406e+13   Median : 7.000   Median :2014
 Mean   :1.420e+13   Mean   : 6.489   Mean   :2014
 3rd Qu.:1.407e+13   3rd Qu.: 9.000   3rd Qu.:2014
 Max.   :9.904e+13   Max.   :12.000   Max.   :2014
                     NA's   :17764    NA's   :17764